.main-block-container{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 22px 0px #000000bf;
  border-radius: 8px;
}
.bird-list{
  width: 30%;
}
.right{
  background-color: #22b24dbd ;
  color: #fff;
}
.wrong{
  background-color: #EB6864;
  color: #fff;
}
.bird-list-item{
  height: 20%;
  &:hover {
    cursor: pointer;
  }
  &:nth-child(1){
    border-top-right-radius: 0;
  }
  &:nth-child(6){
    border-bottom-right-radius: 0;
  }
}
.bird-card{
  width: 70%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  margin-bottom: 0 !important;
}
.next-btn{
  margin-top: 2rem;
  width: 100%;
}
.card-container{height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.select-bird{
  padding: 1rem;
}
.selected-bird_image{
  height: 160px;
  width: 210px;
}
.card-body{
 padding: 0.75rem;
}
.birds-voice{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .main-block-container{
    flex-direction: column;
  }
  .bird-list{
    width: 100%;
  }
  .bird-card{
    width: 100%;
    .card-header{
      margin-top: 5%;
      border-top: 0;
      background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(189,189,189,1) 100%, rgba(248,248,248,1) 100%);
    }
    .card-container{
      flex-direction: column;
    }
  }
  .selected-bird_image{
    margin-top: 15px;
    height: 10rem;
  }  
}
@media only screen and (max-width: 980px) {
  .card-container{
    padding-top: 5%;
    flex-direction: column;
  }
}