.guessing-bird-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}
.guessing-bird-image{
  height: 10rem;
  border-radius: 3px;
}
.guessing-bird-info{
  flex-grow: 0.95;
}
@media only screen and (max-width: 600px) {
  .guessing-bird-block{
    display: flex;
    flex-direction: column;
  }
  audio{
    width: 100%;
  }
}